/node_modules
/public/hot
/public/storage
/public/media
/storage/*.key
/vendor
.env
.env.backup*
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
_ide_helper.php
_ide_helper_models.php
/.idea
/public/css/app.css
/public/js/app.js
/public/mix-manifest.json
/public/js/app.js.LICENSE.txt
/.vscode
auth.json
/bootstrap/ssr
/public/build/*
!/public/build/default/
/public/theme-assets/*
!/public/theme-assets/default/
/resources/*
!/resources/default/
