@import "../../../node_modules/vue-datepicker-next/index.css";
@import "../../../node_modules/easymde/dist/easymde.min.css";
@import "../../../node_modules/tippy.js/dist/tippy.css";
@import "../../../node_modules/tippy.js/animations/perspective.css";
@import "../../../node_modules/vue-multiselect/dist/vue-multiselect.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer components {
    .fade-img-light {
        position: relative;
    }

    .fade-img-dark {
        position: relative;
    }

    .fade-img-light:after {
        content: "";
        position: absolute;
        pointer-events: none;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(
            to bottom,
            theme("colors.background" / 0%) 0%,
            theme("colors.background") 100%
        );
        height: 40%;
    }

    .fade-img-dark:after {
        content: "";
        position: absolute;
        pointer-events: none;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(
            to bottom,
            theme("colors.background" / 0%) 0%,
            theme("colors.background") 100%
        );
        height: 40%;
    }

    .rainbow {
        animation: color-rotate 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Let's get this party started */
.boxscroll::-webkit-scrollbar {
    width: 4px;
}
/* Track */
.boxscroll::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
.boxscroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(134, 134, 134, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(22, 22, 22, 0.5);
}
.boxscroll::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(229, 229, 229, 0.4);
}

/*Floating Field Form*/
.floating-input > input::placeholder,
.floating-input > textarea::placeholder {
    color: transparent;
}

.floating-input > input:focus,
.floating-input > input:not(:placeholder-shown) {
    @apply pt-8;
}

.floating-input > input:focus ~ label,
.floating-input > input:not(:placeholder-shown) ~ label {
    @apply scale-90 -translate-y-3 translate-x-1;
}

/* Textarea */
.floating-input > textarea:focus,
.floating-input > textarea:not(:placeholder-shown) {
    @apply pt-7;
}
.floating-input > textarea:focus ~ label,
.floating-input > textarea:not(:placeholder-shown) ~ label {
    @apply scale-90 -translate-y-2.5 translate-x-1;
}

@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
.logo:hover {
    animation: color-rotate 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.autolink {
    color: hsl(var(--primary));
}

.autolink:hover {
    text-decoration: underline;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
    background: none;
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-thumb {
    border: solid 0 rgb(0 0 0 / 0%);
    border-right-width: 4px;
    border-left-width: 4px;
    -webkit-border-radius: 9px 4px;
    -webkit-box-shadow: inset 0 0 0 1px hsl(211, 10%, 53%),
        inset 0 0 0 4px hsl(209deg 18% 30%);
}

::-webkit-scrollbar-track-piece {
    margin: 4px 0;
}

::-webkit-scrollbar-thumb:horizontal {
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 4px;
    border-bottom-width: 4px;
    -webkit-border-radius: 4px 9px;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 0 1px hsl(var(--primary)),
        inset 0 0 0 4px hsl(var(--primary));
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body.swal2-shown > [aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(5px);
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid hsl(var(--primary));
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.mx-datepicker-sidebar button {
    font-size: small;
}

.CodeMirror {
    color: hsl(var(--secondary));
    border-color: hsl(var(--secondary));
    background-color: inherit;
}

.cm-s-easymde .CodeMirror-cursor {
    border-color: hsl(var(--secondary));
}

.no-disabled-effect .data-\[disabled\]\:opacity-50[data-disabled] {
    opacity: 1;
}

.no-disabled-effect .group[data-disabled] .group-data-\[disabled\]\:opacity-50 {
    opacity: 1;
}

.no-disabled-effect .group[data-disabled] * {
    opacity: 1;
}

/* Fix multiselect in darkmode */
.multiselect .multiselect__tags {
    @apply bg-card border-border text-foreground;
}

.multiselect__tags .multiselect__single {
    @apply bg-card;
}

.multiselect .multiselect__input {
    @apply bg-card;
}

.multiselect .multiselect__content-wrapper {
    @apply bg-card text-foreground border-border;
}

.multiselect .multiselect__option--selected {
    @apply bg-background text-foreground;
}

.multiselect__tag {
    @apply bg-primary;
}

.multiselect__option--highlight {
    @apply bg-primary;
}

.multiselect__option--highlight::after {
    @apply bg-primary;
}

/* NEW TAILWIND THEMING */
/* @layer base {
    :root {
    }
} */
@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
:root {
    --background: 220 13% 91%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 20%;
    --primary: 217.2193 91.2195% 59.8039%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 14.2857% 95.8824%;
    --secondary-foreground: 215 13.7931% 34.1176%;
    --muted: 210 20% 98.0392%;
    --muted-foreground: 220 8.9362% 46.0784%;
    --accent: 204 93.75% 93.7255%;
    --accent-foreground: 224.4444 64.2857% 32.9412%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 13.0435% 90.9804%;
    --input: 220 13.0435% 90.9804%;
    --ring: 217.2193 91.2195% 59.8039%;
    --chart-1: 217.2193 91.2195% 59.8039%;
    --chart-2: 221.2121 83.1933% 53.3333%;
    --chart-3: 224.2781 76.3265% 48.0392%;
    --chart-4: 225.931 70.7317% 40.1961%;
    --chart-5: 224.4444 64.2857% 32.9412%;
    --sidebar: 210 20% 98.0392%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 217.2193 91.2195% 59.8039%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 204 93.75% 93.7255%;
    --sidebar-accent-foreground: 224.4444 64.2857% 32.9412%;
    --sidebar-border: 220 13.0435% 90.9804%;
    --sidebar-ring: 217.2193 91.2195% 59.8039%;
    --font-sans: Nunito, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.375rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: 0 0% 9.0196%;
    --foreground: 0 0% 89.8039%;
    --card: 0 0% 14.902%;
    --card-foreground: 0 0% 89.8039%;
    --popover: 0 0% 14.902%;
    --popover-foreground: 0 0% 89.8039%;
    --primary: 217.2193 91.2195% 59.8039%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 14.902%;
    --secondary-foreground: 0 0% 89.8039%;
    --muted: 0 0% 14.902%;
    --muted-foreground: 0 0% 63.9216%;
    --accent: 224.4444 64.2857% 32.9412%;
    --accent-foreground: 213.3333 96.9231% 87.2549%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 25.098%;
    --input: 0 0% 25.098%;
    --ring: 217.2193 91.2195% 59.8039%;
    --chart-1: 213.1169 93.9024% 67.8431%;
    --chart-2: 217.2193 91.2195% 59.8039%;
    --chart-3: 221.2121 83.1933% 53.3333%;
    --chart-4: 224.2781 76.3265% 48.0392%;
    --chart-5: 225.931 70.7317% 40.1961%;
    --sidebar: 0 0% 11.96%;
    --sidebar-foreground: 0 0% 89.8039%;
    --sidebar-primary: 217.2193 91.2195% 59.8039%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224.4444 64.2857% 32.9412%;
    --sidebar-accent-foreground: 213.3333 96.9231% 87.2549%;
    --sidebar-border: 0 0% 25.098%;
    --sidebar-ring: 217.2193 91.2195% 59.8039%;
    --font-sans: Nunito, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.375rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}
