/* =========================================================================
   Extra Color Schemes
   ========================================================================= */

/* ---------- Color Scheme: Saffron ---------- */
:root[data-color-scheme="saffron"] {
    --background: hsl(0 0% 94%);
    --foreground: hsl(0 0% 0%);
    --card: hsl(0 0% 99.2157%);
    --card-foreground: hsl(0 0% 0%);
    --popover: hsl(0 0% 98.8235%);
    --popover-foreground: hsl(0 0% 0%);
    --primary: hsl(15.3913 90.5512% 49.8039%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(214.2857 24.1379% 94.3137%);
    --secondary-foreground: hsl(0 0% 3.1373%);
    --muted: hsl(0 0% 96.0784%);
    --muted-foreground: hsl(0 0% 32.1569%);
    --accent: hsl(15.0000 100.0000% 96.0784%);
    --accent-foreground: hsl(14.9239 94.2584% 40.9804%);
    --destructive: hsl(358.4416 74.7573% 59.6078%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(240 17.0732% 91.9608%);
    --input: hsl(0 0% 92.1569%);
    --ring: hsl(15.3913 90.5512% 49.8039%);
    --chart-1: hsl(15.3913 90.5512% 49.8039%);
    --chart-2: hsl(9.2784 100% 80.9804%);
    --chart-3: hsl(24.8571 98.1308% 58.0392%);
    --chart-4: hsl(217.0787 76.7241% 54.5098%);
    --chart-5: hsl(40.8696 100% 72.9412%);
    --sidebar: hsl(210 42.8571% 97.2549%);
    --sidebar-foreground: hsl(0 0% 0%);
    --sidebar-primary: hsl(0 0% 0%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(16.1538 100.0000% 94.9020%);
    --sidebar-accent-foreground: hsl(0 0% 0%);
    --sidebar-border: hsl(0 0% 92.1569%);
    --sidebar-ring: hsl(0 0% 0%);
    --font-sans: Plus Jakarta Sans, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 0.375rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.27rem;
}

.dark[data-color-scheme="saffron"],
[data-color-scheme="saffron"] .dark {
    --background: hsl(0 0% 3.9216%);
    --foreground: hsl(0 0% 94.1176%);
    --card: hsl(0 0% 7.0588%);
    --card-foreground: hsl(0 0% 94.1176%);
    --popover: hsl(240 1.9608% 10%);
    --popover-foreground: hsl(0 0% 94.1176%);
    --primary: hsl(15.3913 90.5512% 49.8039%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(14.7692 90.6977% 42.1569%);
    --secondary-foreground: hsl(0 0% 94.1176%);
    --muted: hsl(240 2.7778% 14.1176%);
    --muted-foreground: hsl(0 0% 58.8235%);
    --accent: hsl(14.7368 96.6102% 23.1373%);
    --accent-foreground: hsl(0 0% 99.6078%);
    --destructive: hsl(0 94.7712% 70%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(0 0% 12.1569%);
    --input: hsl(0 0% 23.1373%);
    --ring: hsl(15.3913 90.5512% 49.8039%);
    --chart-1: hsl(15.3913 90.5512% 49.8039%);
    --chart-2: hsl(49.9571 91.3725% 50%);
    --chart-3: hsl(0 93.5484% 81.7647%);
    --chart-4: hsl(217.5484 87.5706% 65.2941%);
    --chart-5: hsl(40.8696 100% 72.9412%);
    --sidebar: hsl(0 0% 7.0588%);
    --sidebar-foreground: hsl(0 0% 94.1176%);
    --sidebar-primary: hsl(15.3913 90.5512% 49.8039%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(15.4839 93.9394% 12.9412%);
    --sidebar-accent-foreground: hsl(14.9296 94.6667% 44.1176%);
    --sidebar-border: hsl(222.8571 6.4220% 21.3725%);
    --sidebar-ring: hsl(15.3913 90.5512% 49.8039%);
    --font-sans: Plus Jakarta Sans, sans-serif;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, monospace;
    --radius: 0.375rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}


/* ---------- Color Scheme: Caffeine ---------- */
:root[data-color-scheme="caffeine"] {
    --background: hsl(0 0% 94%);
    --foreground: hsl(0 0% 12.5490%);
    --card: hsl(0 0% 98.8235%);
    --card-foreground: hsl(0 0% 12.5490%);
    --popover: hsl(0 0% 98.8235%);
    --popover-foreground: hsl(0 0% 12.5490%);
    --primary: hsl(16.6667 21.9512% 32.1569%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(34.0541 100.0000% 85.4902%);
    --secondary-foreground: hsl(16.2712 50.4274% 22.9412%);
    --muted: hsl(0 0% 93.7255%);
    --muted-foreground: hsl(0 0% 39.2157%);
    --accent: hsl(0 0% 90.9804%);
    --accent-foreground: hsl(0 0% 12.5490%);
    --destructive: hsl(10.1639 77.8723% 53.9216%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(0 0% 84.7059%);
    --input: hsl(0 0% 84.7059%);
    --ring: hsl(16.6667 21.9512% 32.1569%);
    --chart-1: hsl(16.6667 21.9512% 32.1569%);
    --chart-2: hsl(34.0541 100.0000% 85.4902%);
    --chart-3: hsl(0 0% 90.9804%);
    --chart-4: hsl(34.5763 100.0000% 88.4314%);
    --chart-5: hsl(16.5000 24.3902% 32.1569%);
    --sidebar: hsl(0 0% 98.4314%);
    --sidebar-foreground: hsl(0 0% 14.5098%);
    --sidebar-primary: hsl(0 0% 20.3922%);
    --sidebar-primary-foreground: hsl(0 0% 98.4314%);
    --sidebar-accent: hsl(0 0% 96.8627%);
    --sidebar-accent-foreground: hsl(0 0% 20.3922%);
    --sidebar-border: hsl(0 0% 92.1569%);
    --sidebar-ring: hsl(0 0% 70.9804%);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark[data-color-scheme="caffeine"],
[data-color-scheme="caffeine"] .dark {
    --background: hsl(0 0% 6.6667%);
    --foreground: hsl(0 0% 93.3333%);
    --card: hsl(0 0% 9.8039%);
    --card-foreground: hsl(0 0% 93.3333%);
    --popover: hsl(0 0% 9.8039%);
    --popover-foreground: hsl(0 0% 93.3333%);
    --primary: hsl(29.5082 100% 88.0392%);
    --primary-foreground: hsl(183.1579 54.2857% 6.8627%);
    --secondary: hsl(28.2353 17.5258% 19.0196%);
    --secondary-foreground: hsl(29.5082 100% 88.0392%);
    --muted: hsl(0 0% 13.3333%);
    --muted-foreground: hsl(0 0% 70.5882%);
    --accent: hsl(0 0% 16.4706%);
    --accent-foreground: hsl(0 0% 93.3333%);
    --destructive: hsl(10.1639 77.8723% 53.9216%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(45 14.2857% 10.9804%);
    --input: hsl(0 0% 28.2353%);
    --ring: hsl(29.5082 100% 88.0392%);
    --chart-1: hsl(29.5082 100% 88.0392%);
    --chart-2: hsl(28.2353 17.5258% 19.0196%);
    --chart-3: hsl(0 0% 16.4706%);
    --chart-4: hsl(30.0000 17.8571% 21.9608%);
    --chart-5: hsl(30 100% 87.8431%);
    --sidebar: hsl(240 5.8824% 10%);
    --sidebar-foreground: hsl(240 4.7619% 95.8824%);
    --sidebar-primary: hsl(224.2781 76.3265% 48.0392%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(240 3.7037% 15.8824%);
    --sidebar-accent-foreground: hsl(240 4.7619% 95.8824%);
    --sidebar-border: hsl(240 3.7037% 15.8824%);
    --sidebar-ring: hsl(240 4.8780% 83.9216%);
    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --radius: 0.5rem;
    --shadow-x: 0;
    --shadow-y: 1px;
    --shadow-blur: 3px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}


/* ---------- Color Scheme: NeoBrutalism ---------- */
:root[data-color-scheme="neobrutalism"] {
    --background: hsl(0 0% 100%);
    --foreground: hsl(0 0% 0%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 0%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 0%);
    --primary: hsl(0 100% 60%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(60 100% 50%);
    --secondary-foreground: hsl(0 0% 0%);
    --muted: hsl(0 0% 94.1176%);
    --muted-foreground: hsl(0 0% 20%);
    --accent: hsl(216 100% 50%);
    --accent-foreground: hsl(0 0% 100%);
    --destructive: hsl(0 0% 0%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(0 0% 0%);
    --input: hsl(0 0% 0%);
    --ring: hsl(0 100% 60%);
    --chart-1: hsl(0 100% 60%);
    --chart-2: hsl(60 100% 50%);
    --chart-3: hsl(216 100% 50%);
    --chart-4: hsl(120 100% 40%);
    --chart-5: hsl(300 100% 40%);
    --sidebar: hsl(0 0% 94.1176%);
    --sidebar-foreground: hsl(0 0% 0%);
    --sidebar-primary: hsl(0 100% 60%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(216 100% 50%);
    --sidebar-accent-foreground: hsl(0 0% 100%);
    --sidebar-border: hsl(0 0% 0%);
    --sidebar-ring: hsl(0 100% 60%);
    --font-sans: DM Sans, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Space Mono, monospace;
    --radius: 0px;
    --shadow-x: 4px;
    --shadow-y: 4px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 1;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
    --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
    --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 2px 4px -1px hsl(0 0% 0% / 1.00);
    --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 4px 6px -1px hsl(0 0% 0% / 1.00);
    --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 8px 10px -1px hsl(0 0% 0% / 1.00);
    --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.50);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark[data-color-scheme="neobrutalism"],
[data-color-scheme="neobrutalism"] .dark {
    --background: hsl(0 0% 0%);
    --foreground: hsl(0 0% 100%);
    --card: hsl(0 0% 20%);
    --card-foreground: hsl(0 0% 100%);
    --popover: hsl(0 0% 20%);
    --popover-foreground: hsl(0 0% 100%);
    --primary: hsl(0 100.0000% 70%);
    --primary-foreground: hsl(0 0% 0%);
    --secondary: hsl(60 100% 60%);
    --secondary-foreground: hsl(0 0% 0%);
    --muted: hsl(0 0% 10.1961%);
    --muted-foreground: hsl(0 0% 80%);
    --accent: hsl(210 100% 60%);
    --accent-foreground: hsl(0 0% 0%);
    --destructive: hsl(0 0% 100%);
    --destructive-foreground: hsl(0 0% 0%);
    --border: hsl(0 0% 100%);
    --input: hsl(0 0% 100%);
    --ring: hsl(0 100.0000% 70%);
    --chart-1: hsl(0 100.0000% 70%);
    --chart-2: hsl(60 100% 60%);
    --chart-3: hsl(210 100% 60%);
    --chart-4: hsl(120 60.0000% 50%);
    --chart-5: hsl(300 60.0000% 50%);
    --sidebar: hsl(0 0% 0%);
    --sidebar-foreground: hsl(0 0% 100%);
    --sidebar-primary: hsl(0 100.0000% 70%);
    --sidebar-primary-foreground: hsl(0 0% 0%);
    --sidebar-accent: hsl(210 100% 60%);
    --sidebar-accent-foreground: hsl(0 0% 0%);
    --sidebar-border: hsl(0 0% 100%);
    --sidebar-ring: hsl(0 100.0000% 70%);
    --font-sans: DM Sans, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Space Mono, monospace;
    --radius: 0px;
    --shadow-x: 4px;
    --shadow-y: 4px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 1;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
    --shadow-xs: 4px 4px 0px 0px hsl(0 0% 0% / 0.50);
    --shadow-sm: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 1px 2px -1px hsl(0 0% 0% / 1.00);
    --shadow-md: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 2px 4px -1px hsl(0 0% 0% / 1.00);
    --shadow-lg: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 4px 6px -1px hsl(0 0% 0% / 1.00);
    --shadow-xl: 4px 4px 0px 0px hsl(0 0% 0% / 1.00), 4px 8px 10px -1px hsl(0 0% 0% / 1.00);
    --shadow-2xl: 4px 4px 0px 0px hsl(0 0% 0% / 2.50);
}

/* ---------- Color Scheme: Notebook ---------- */
:root[data-color-scheme="notebook"] {
    --background: hsl(0 0% 97.6471%);
    --foreground: hsl(0 0% 22.7451%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(0 0% 22.7451%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(0 0% 22.7451%);
    --primary: hsl(0 0% 37.6471%);
    --primary-foreground: hsl(0 0% 94.1176%);
    --secondary: hsl(0 0% 87.0588%);
    --secondary-foreground: hsl(0 0% 22.7451%);
    --muted: hsl(0 0% 89.0196%);
    --muted-foreground: hsl(0 0% 31.3725%);
    --accent: hsl(47.4419 64.1791% 86.8627%);
    --accent-foreground: hsl(14.2105 25.6757% 29.0196%);
    --destructive: hsl(0 41.4894% 63.1373%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(0 0.8696% 45.0980%);
    --input: hsl(0 0.8696% 45.0980%);
    --ring: hsl(0 0% 62.7451%);
    --chart-1: hsl(0 0% 20%);
    --chart-2: hsl(0 0% 33.3333%);
    --chart-3: hsl(0 0% 46.6667%);
    --chart-4: hsl(0 0% 60%);
    --chart-5: hsl(0 0% 73.3333%);
    --sidebar: hsl(0 0% 94.1176%);
    --sidebar-foreground: hsl(0 0% 22.7451%);
    --sidebar-primary: hsl(0 0% 37.6471%);
    --sidebar-primary-foreground: hsl(0 0% 94.1176%);
    --sidebar-accent: hsl(47.4419 64.1791% 86.8627%);
    --sidebar-accent-foreground: hsl(14.2105 25.6757% 29.0196%);
    --sidebar-border: hsl(0 0% 75.2941%);
    --sidebar-ring: hsl(0 0% 62.7451%);
    --font-sans: Architects Daughter, sans-serif;
    --font-serif: "Times New Roman", Times, serif;
    --font-mono: "Courier New", Courier, monospace;
    --radius: 0.625rem;
    --shadow-x: 1px;
    --shadow-y: 4px;
    --shadow-blur: 5px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.03;
    --shadow-color: #000000;
    --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
    --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
    --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
    --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
    --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 2px 4px -1px hsl(0 0% 0% / 0.03);
    --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 4px 6px -1px hsl(0 0% 0% / 0.03);
    --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 8px 10px -1px hsl(0 0% 0% / 0.03);
    --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
    --tracking-normal: 0.5px;
    --spacing: 0.25rem;
}

.dark[data-color-scheme="notebook"],
[data-color-scheme="notebook"] .dark {
    --background: hsl(0 0% 16.8627%);
    --foreground: hsl(0 0% 86.2745%);
    --card: hsl(0 0% 20%);
    --card-foreground: hsl(0 0% 86.2745%);
    --popover: hsl(0 0% 20%);
    --popover-foreground: hsl(0 0% 86.2745%);
    --primary: hsl(0 0% 69.0196%);
    --primary-foreground: hsl(0 0% 16.8627%);
    --secondary: hsl(0 0% 35.2941%);
    --secondary-foreground: hsl(0 0% 75.2941%);
    --muted: hsl(0 0% 27.0588%);
    --muted-foreground: hsl(0 0% 62.7451%);
    --accent: hsl(0 0% 87.8431%);
    --accent-foreground: hsl(0 0% 20%);
    --destructive: hsl(0 35.5932% 76.8627%);
    --destructive-foreground: hsl(0 0% 16.8627%);
    --border: hsl(0 0% 30.9804%);
    --input: hsl(0 0% 30.9804%);
    --ring: hsl(0 0% 75.2941%);
    --chart-1: hsl(0 0% 93.7255%);
    --chart-2: hsl(0 0% 81.5686%);
    --chart-3: hsl(0 0% 69.0196%);
    --chart-4: hsl(0 0% 56.4706%);
    --chart-5: hsl(0 0% 43.9216%);
    --sidebar: hsl(0 0% 12.9412%);
    --sidebar-foreground: hsl(0 0% 86.2745%);
    --sidebar-primary: hsl(0 0% 69.0196%);
    --sidebar-primary-foreground: hsl(0 0% 12.9412%);
    --sidebar-accent: hsl(0 0% 87.8431%);
    --sidebar-accent-foreground: hsl(0 0% 20%);
    --sidebar-border: hsl(0 0% 30.9804%);
    --sidebar-ring: hsl(0 0% 75.2941%);
    --font-sans: Architects Daughter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --radius: 0.625rem;
    --shadow-x: 1px;
    --shadow-y: 4px;
    --shadow-blur: 5px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.03;
    --shadow-color: #000000;
    --shadow-2xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
    --shadow-xs: 1px 4px 5px 0px hsl(0 0% 0% / 0.01);
    --shadow-sm: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
    --shadow: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 1px 2px -1px hsl(0 0% 0% / 0.03);
    --shadow-md: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 2px 4px -1px hsl(0 0% 0% / 0.03);
    --shadow-lg: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 4px 6px -1px hsl(0 0% 0% / 0.03);
    --shadow-xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.03), 1px 8px 10px -1px hsl(0 0% 0% / 0.03);
    --shadow-2xl: 1px 4px 5px 0px hsl(0 0% 0% / 0.07);
}

/* ---------- Color Scheme: Lime ---------- */
:root[data-color-scheme="lime"] {
    --background: hsl(75.0000 40.0000% 98.0392%);
    --foreground: hsl(222.2222 47.3684% 11.1765%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2222 47.3684% 11.1765%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2222 47.3684% 11.1765%);
    --primary: hsl(82.5414 88.2927% 59.8039%);
    --primary-foreground: hsl(0 0% 0%);
    --secondary: hsl(215.2941 25.0000% 26.6667%);
    --secondary-foreground: hsl(210.0000 40.0000% 98.0392%);
    --muted: hsl(210.0000 40.0000% 96.0784%);
    --muted-foreground: hsl(215.3846 16.3180% 46.8627%);
    --accent: hsl(138.4615 76.4706% 96.6667%);
    --accent-foreground: hsl(142.7848 64.2276% 24.1176%);
    --destructive: hsl(0 84.2365% 60.1961%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(214.2857 31.8182% 91.3725%);
    --input: hsl(214.2857 31.8182% 91.3725%);
    --ring: hsl(82.5414 88.2927% 59.8039%);
    --chart-1: hsl(82.5414 88.2927% 59.8039%);
    --chart-2: hsl(215.2941 25.0000% 26.6667%);
    --chart-3: hsl(142.0859 70.5628% 45.2941%);
    --chart-4: hsl(215.3846 16.3180% 46.8627%);
    --chart-5: hsl(215.0000 20.2247% 65.0980%);
    --sidebar: hsl(0 0% 100%);
    --sidebar-foreground: hsl(222.2222 47.3684% 11.1765%);
    --sidebar-primary: hsl(82.5414 88.2927% 59.8039%);
    --sidebar-primary-foreground: hsl(0 0% 0%);
    --sidebar-accent: hsl(210.0000 40.0000% 98.0392%);
    --sidebar-accent-foreground: hsl(222.2222 47.3684% 11.1765%);
    --sidebar-border: hsl(210.0000 40.0000% 96.0784%);
    --sidebar-ring: hsl(82.5414 88.2927% 59.8039%);
    --font-sans: Inter, system-ui, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 1rem;
    --shadow-x: 0px;
    --shadow-y: 8px;
    --shadow-blur: 20px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 8px 20px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm: 0px 8px 20px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow: 0px 8px 20px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md: 0px 8px 20px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0px 8px 20px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0px 8px 20px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 8px 20px 0px hsl(0 0% 0% / 0.13);
    --tracking-normal: -0.01em;
    --spacing: 0.25rem;
}

.dark[data-color-scheme="lime"],
[data-color-scheme="lime"] .dark {
    --background: hsl(228.5714 84.0000% 4.9020%);
    --foreground: hsl(210.0000 40.0000% 98.0392%);
    --card: hsl(222.2222 47.3684% 11.1765%);
    --card-foreground: hsl(210.0000 40.0000% 98.0392%);
    --popover: hsl(222.2222 47.3684% 11.1765%);
    --popover-foreground: hsl(210.0000 40.0000% 98.0392%);
    --primary: hsl(82.5414 88.2927% 59.8039%);
    --primary-foreground: hsl(0 0% 0%);
    --secondary: hsl(217.2414 32.5843% 17.4510%);
    --secondary-foreground: hsl(210.0000 40.0000% 98.0392%);
    --muted: hsl(217.2414 32.5843% 17.4510%);
    --muted-foreground: hsl(215.0000 20.2247% 65.0980%);
    --accent: hsl(143.8095 61.1650% 20.1961%);
    --accent-foreground: hsl(82.5414 88.2927% 59.8039%);
    --destructive: hsl(0 70% 35.2941%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(217.2414 32.5843% 17.4510%);
    --input: hsl(217.2414 32.5843% 17.4510%);
    --ring: hsl(82.5414 88.2927% 59.8039%);
    --chart-1: hsl(82.5414 88.2927% 59.8039%);
    --chart-2: hsl(217.2193 91.2195% 59.8039%);
    --chart-3: hsl(142.0859 70.5628% 45.2941%);
    --chart-4: hsl(270.7407 91.0112% 65.0980%);
    --chart-5: hsl(37.6923 92.1260% 50.1961%);
    --sidebar: hsl(228.5714 84.0000% 4.9020%);
    --sidebar-foreground: hsl(210.0000 40.0000% 98.0392%);
    --sidebar-primary: hsl(82.5414 88.2927% 59.8039%);
    --sidebar-primary-foreground: hsl(0 0% 0%);
    --sidebar-accent: hsl(217.2414 32.5843% 17.4510%);
    --sidebar-accent-foreground: hsl(210.0000 40.0000% 98.0392%);
    --sidebar-border: hsl(217.2414 32.5843% 17.4510%);
    --sidebar-ring: hsl(82.5414 88.2927% 59.8039%);
    --font-sans: Inter, system-ui, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 1rem;
    --shadow-x: 0px;
    --shadow-y: 10px;
    --shadow-blur: 25px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.4;
    --shadow-color: #000000;
    --shadow-2xs: 0px 10px 25px 0px hsl(0 0% 0% / 0.20);
    --shadow-xs: 0px 10px 25px 0px hsl(0 0% 0% / 0.20);
    --shadow-sm: 0px 10px 25px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
    --shadow: 0px 10px 25px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
    --shadow-md: 0px 10px 25px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
    --shadow-lg: 0px 10px 25px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
    --shadow-xl: 0px 10px 25px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
    --shadow-2xl: 0px 10px 25px 0px hsl(0 0% 0% / 1.00);
}
