@import "../../node_modules/vue-datepicker-next/index.css";
@import "../../node_modules/easymde/dist/easymde.min.css";
@import "../../node_modules/tippy.js/dist/tippy.css";
@import "../../node_modules/tippy.js/animations/perspective.css";
@import "../../node_modules/vue-multiselect/dist/vue-multiselect.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .fade-img-light {
        position: relative;
    }

    .fade-img-dark {
        position: relative;
    }

    .fade-img-light:after {
        content: "";
        position: absolute;
        pointer-events: none;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(
            to bottom,
            rgba(229, 231, 235, 0) 0%,
            rgba(229, 231, 235, 1) 100%
        );
        height: 40%;
    }

    .fade-img-dark:after {
        content: "";
        position: absolute;
        pointer-events: none;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(
            to bottom,
            rgba(17, 24, 39, 0) 0%,
            rgba(17, 24, 39, 1) 100%
        );
        height: 40%;
    }

    .rainbow {
        animation: color-rotate 5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

/* Let's get this party started */
.boxscroll::-webkit-scrollbar {
    width: 4px;
}
/* Track */
.boxscroll::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
/* Handle */
.boxscroll::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(134, 134, 134, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(22, 22, 22, 0.5);
}
.boxscroll::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(229, 229, 229, 0.4);
}

/*Floating Field Form*/
.floating-input > input::placeholder,
.floating-input > textarea::placeholder {
    color: transparent;
}

.floating-input > input:focus,
.floating-input > input:not(:placeholder-shown) {
    @apply pt-8;
}

.floating-input > input:focus ~ label,
.floating-input > input:not(:placeholder-shown) ~ label {
    @apply scale-90 -translate-y-3 translate-x-1;
}

/* Textarea */
.floating-input > textarea:focus,
.floating-input > textarea:not(:placeholder-shown) {
    @apply pt-7;
}
.floating-input > textarea:focus ~ label,
.floating-input > textarea:not(:placeholder-shown) ~ label {
    @apply scale-90 -translate-y-2.5 translate-x-1;
}

@keyframes color-rotate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
.logo:hover {
    animation: color-rotate 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.autolink {
    color: #39b9f1;
}

.autolink:hover {
    text-decoration: underline;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
    background: none;
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-thumb {
    border: solid 0 rgb(0 0 0 / 0%);
    border-right-width: 4px;
    border-left-width: 4px;
    -webkit-border-radius: 9px 4px;
    -webkit-box-shadow: inset 0 0 0 1px hsl(211, 10%, 53%),
        inset 0 0 0 4px hsl(209deg 18% 30%);
}

::-webkit-scrollbar-track-piece {
    margin: 4px 0;
}

::-webkit-scrollbar-thumb:horizontal {
    border-right-width: 0;
    border-left-width: 0;
    border-top-width: 4px;
    border-bottom-width: 4px;
    -webkit-border-radius: 4px 9px;
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 0 0 0 1px #39b9f1, inset 0 0 0 4px #39b9f1;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body.swal2-shown > [aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(5px);
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ripple div {
    position: absolute;
    border: 4px solid #12bbff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.mx-datepicker-sidebar button {
    font-size: small;
}

.CodeMirror {
    color: #8c8c8c;
    border-color: #333;
    background-color: inherit;
}

.cm-s-easymde .CodeMirror-cursor {
    border-color: #a0a0a0;
}
